.content {
  min-height: 75vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
  font-size: 1.8rem;
}

footer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 1em;
  img {
    width: 50px;
  }
}
