.signup-body {
  min-height: 100vh;
  background-color: #21d4fd;
  background-image: linear-gradient(19deg, #21d4fd 0%, #b721ff 100%);
  display: flex;
  justify-content: center;
  align-items: center;
  .container {
    .signup-card {
      background: white;
      min-height: 70vh;
      border-radius: 10px;
      box-shadow: 0px 14px 48px #333;
    }
  }
}
