.user_details {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 30px;
  grid-row-gap: 30px;
  @media (max-width: 500px) {
    display: grid;
    grid-template-columns: 1fr !important;
    grid-column-gap: 30px;
    grid-row-gap: 30px;
  }
  @media (max-width: 900px) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 30px;
    grid-row-gap: 30px;
  }
  .card {
    .view {
      .overlay {
        display: none;
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        background: rgba(0, 0, 0, 0.5);
        width: 100%;
        height: 100%;
        z-index: 2;
        &:after {
          content: "";
          position: absolute;
          top: 40%;
          left: 44%;
          width: 25px;
          height: 25px;
          border-radius: 50%;
          box-shadow: 30px 30px 0 #fff, -30px 30px #fff;
          animation: fade-in-out 1s infinite;
        }
        &:before {
          content: "Writing";
          position: absolute;
          top: 39%;
          left: 26%;
          color: white;
          font-weight: 100;
          letter-spacing: 20px;
          animation: fade-out 2s infinite;
        }
      }
      @keyframes fade-in-out {
        0% {
          box-shadow: 50px 30px 0 #fff, -10px 30px #fff;
          opacity: 0;
        }
        50% {
          box-shadow: -20px 30px 0 #fff, 40px 30px #fff;
          opacity: 1;
        }
        100% {
          opacity: 0;
        }
      }
      @keyframes fade-out {
        0% {
          opacity: 0;
        }
        25% {
          opacity: 1;
        }
        50% {
          opacity: 0;
        }
        75% {
          opacity: 1;
        }
        100% {
          opacity: 0;
        }
      }
    }
    @media (max-width: 500px) {
      margin-bottom: 2em;
    }
    &:hover {
      transition: all 0.3s cubic-bezier(0.25, 0.1, 0.37, 1.05);
      transform: scale(1.02);
    }
  }
}

.custom-status {
  position: absolute;
  top: 10px;
  left: 0px;
  padding: 11px;
  border-radius: 0px 10px 10px 0px !important;
}

.chat-btn {
  border: none;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  outline: none !important;
  &:focus,
  &:active {
    outline: none !important;
  }
}

.unread-message {
  position: absolute;
  top: 10px;
  right: 10px;
}
.avatar-width {
  width: 50px;
}
